---
layout: default
title: Team Pets
suppress_header: true
extra_css:
  - team.css
team_members:
---
-# THE CONTENT FOR THIS PAGE IS IN https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/data/pets.yml
.wrapper
  .container
    .team-head
      %h1
        MEET OUR
        %b PETS
    .row.team-row
      - data.pets.each_with_index do |pet, index|
        - anchor = "#{index}-" + pet.name.parameterize
        = partial "includes/team/member", locals: {member: pet, is_pet: true, is_remotestory: false, anchor: anchor}
      = link_to '', '#close-modal', class: 'modal-overlay'
